
.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

.wrapper{
    width: 400px;
    margin: 0 auto;
}

.header{
    background-color: #141f40;
    height:100px;
}

.contents{
    height:250px;
}

.left{
    width: 150px;
    background-color: #80bfa8;
    height: 100%;
    float: left;
}

.right{
    height: 100%;
    width: 250px;
    background-color: #8c2727;
    float:right;
}

.footer{
    height: 100px;
    width: 100%;
    background-color: #d98d30;
}

* {
    margin: 0;
    padding: 0;
}