<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"></meta>

    <!-- Bootstrapの設定 -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

    <title>SignUp</title>
</head>
<body>
    <div class="col-sm-5">
        <div class="page-header">
        	<h1>バスケットボール大会</h1>
            <h2>ユーザー登録画面</h2>
        </div>
        <form method="post" th:action="@{/signup}" th:object="${signupForm}">
            <table class="table table-bordered table-hover">
                <!-- ユーザーIDの入力エリア -->
                <tr>
                    <th class="active col-sm-3">ユーザID</th>
                    <td>
                    	<!-- エラー用CSSの追加 -->
                        <div class="form-group"
                        	 th:classappend="${#fields.hasErrors('userId')} ? 'has-error'">
                            <input type="text" class="form-control" th:field="*{userId}" />
                            <!-- 個別エラーメッセージを表示 -->
                            <span class="text-danger" th:if="${#fields.hasErrors('userId')}" th:errors="*{userId}">
                            		userId error
                            	</span>
                        </div>
                    </td>
                </tr>
                <!-- パスワードの入力エリア -->
                <tr>
                    <th class="active">パスワード</th>
                    <td>
                        <div class="form-group"
                        	 th:classappend="${#fields.hasErrors('password')} ? 'has-error'">
                            <input type="text" class="form-control" th:field="*{password}" />
                            <span class="text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">
                           			password error
	                            </span>
                        </div>
                    </td>
                </tr>
                <!-- ユーザー名の入力エリア -->
                <tr>
                    <th class="active">ユーザー名</th>
                    <td>
                        <div class="form-group"
                        	 th:classappend="${#fields.hasErrors('userName')} ? 'has-error'">
                            <input type="text" class="form-control" th:field="*{userName}" />
                            <span class="text-danger" th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}">
                            		userName error
                            	</span>
                        </div>
                    </td>
                </tr>
                <tr>
                <!-- チーム名の入力エリア -->
                	<th class="active">チーム名</th>
                	<td>
                		<div class="form-group"
                			 th:classappend="${#fields.hasErrors('teamName')} ? 'has-error'">
                			<input type="text" class="form-control" th:field="*{teamName}" />
                			<span class="text-danger" th:if="${#fields.hasErrors('teamName')}" th:errors="*{teamName}">
                					teamName error
                				</span>
                		</div>
                <!-- 性別ステータスの入力エリア -->
                <tr>
                    <th class="active">性別</th>
                    <td>
                        <div class="form-group">
                            <div th:each="item : ${radioGender}">
                                <input type="radio" name="radioGender"
                                	th:text="${item.key}"
                                	th:value="${item.value}"
                                	th:field="*{gender}">
                                </input>
                            </div>
                            <span class="text-danger" th:if="${#fields.hasErrors('gender')}" th:errors="*{gender}">
                            		gender error
                            	</span>
                        </div>
                    </td>
                </tr>
            </table>
			<!-- ユーザー登録ボタン -->
            <button class="btn btn-primary" type="submit">ユーザー登録</button>
        </form>
    </div>
</body>
</html>